# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# VisualStudioCode Patch
.history

# Dependency directories
node_modules/

# Build
lib/
esm/